
#components {
    background: #dddddd;
    padding: 0 !important;
    -webkit-user-select: none;
    height: 100%;
    overflow-y: auto;
}

    #components .components-header {
        background: #29b8cc;
        display: inline-block;
        width: 100%;
        cursor: move;
        height: 30px;
    }


        #components .components-header .components-minimize:hover, #components .components-header .components-pin:hover {
            background: #bbbbbb;
        }

.component {
    width: 96%;
    margin-left: 2%;
    background: #bbbbbb;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-bottom: 7px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.component.moving {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.components-drop-shadow {
    position: fixed;
    border: 2px solid red;
    height: 98%;
    border-radius: 5px;
    border: 1px solid #777777;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(119,119,119,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(119,119,119,1);
    box-shadow: 0px 0px 5px 2px rgba(119,119,119,1);
}

    .components-drop-shadow.left {
        left: 0;
        top: 1%;
    }

    .components-drop-shadow.right {
        right: 0;
        top: 1%;
    }

/*#container-compass {
    position: fixed;
    width: 90px;
    height: 90px;
    top: calc(50% - 90px);
    left: calc(50% - 90px);
}

    #container-compass > .container-compass-row {
        width: 100%;
        height: 33.3333333%;
        float: left;
    }

        #container-compass > .container-compass-row > .container-compass-cell {
            width: 33.333333%;
            height: 100%;
            border: 1px solid red;
            display: inline-block;
        }

            #container-compass > .container-compass-row > .container-compass-cell.middle {
                display: block;
                margin: 0 auto;
            }

            #container-compass > .container-compass-row > .container-compass-cell.left {
                float: left;
            }

            #container-compass > .container-compass-row > .container-compass-cell.right {
                float: right;
            }*/
